In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
)
''')

data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cursor.executemany('''
INSERT INTO Weather (id, recordDate, temperature)
VALUES (?, ?, ?)
''', data)

conn.commit()

query = '''
SELECT w1.id
FROM Weather w1
JOIN Weather w2
ON DATE(w1.recordDate, '-1 day') = w2.recordDate
WHERE w1.temperature > w2.temperature
'''

cursor.execute(query)
result = cursor.fetchall()

df_result = pd.DataFrame(result, columns=['id'])
print("Result of SQL Query:")
print(df_result)

conn.close()

Result of SQL Query:
   id
0   2
1   4